<!--NAVBAR-->
<div class="right-side-wrapper">

    <div class="right-side-menu-button">
        <div class="navmenu navmenu-default navmenu-fixed-right offcanvas">
            <a class="navmenu-brand" href="#">Project name</a>
            <ul class="nav navmenu-nav flex-column">
                <li class="nav-item"><a class="nav-link" href="../navmenu/">Slide in</a></li>
                <li class="nav-item active"><a class="nav-link" href="./">Push</a></li>
                <li class="nav-item"><a class="nav-link" href="../navmenu-reveal/">Reveal</a></li>
                <li class="nav-item"><a class="nav-link" href="../navbar-offcanvas/">Off canvas navbar</a></li>
            </ul>
            <ul class="nav navmenu-nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li class="nav-item"><a class="nav-link" href="#">Action</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Another action</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Something else here</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li class="nav-item"><a class="nav-link" href="#">Separated link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <header class="navbar navbar-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="fas fa-bars fa-2x"></span>
            </button>
        </header>
    </div>

    <div class="right-side-blurb">
        <a href="/">Lets Collaborate</a>
    </div>

    <div class="right-side-social-media">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-invision"></i>
    </div>

</div>
